.anime-container {
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.anime-container :hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}