.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: blue;
  color: white;
  justify-content: end;
}

.navbar ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li{
  margin: 0 15px;
}

.navbar a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover{
  text-decoration: underline;
}